<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Drug Lord Manager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DrugLordManager.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Drug Lord Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Dashboard" ? "active" : ":")" href="/"><i class="fa-solid fa-house"></i> Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Clients" ? "active" : ":")" href="/Clients/"><i class="fa-solid fa-person"></i> Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Vendeurs" ? "active" : ":")" href="/Vendeurs/"><i class="fa-solid fa-dollar-sign"></i> Vendeurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Lieux" ? "active" : ":")" href="/Lieux/"><i class="fa-solid fa-location-dot"></i> Lieux</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Produits" ? "active" : ":")" href="/Produits/"><i class="fa-solid fa-joint"></i> Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Transactions" ? "active" : ":")" href="/Transactions/"><i class="fa-solid fa-handshake"></i> Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Stock & fournisseurs" ? "active" : ":")" href="/StockFournisseurs/"><i class="fa-solid fa-box-open"></i> Stock & fournisseurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"] == "Stats" ? "active" : ":")" href="/Stats/"><i class="fa-solid fa-chart-simple"></i> Stats</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Drug Lord Manager - Elliot Ganty, Alexis Monthoux, Victor Nondjock, Malo Romano
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>